html {
  margin: 0;
  height: 100vh; 
}
body {
  margin: 0;
  height: 100vh;
}
canvas {
  display: block;
  position: absolute;
  margin-top: 0px;
  margin-bottom: 0px;
}

.App {
  text-align: center;
}

h3 {
  font-size: 100px;
  font-family: Monofett;
}
ul {
  display: flex;
  align-self: flex-end;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  background: rgb(223,221,126);
background: linear-gradient(90deg, rgba(223,221,126,0.8785889355742297) 0%, rgba(220,242,20,1) 38%, rgba(85,141,184,1) 100%);
  color: #5973bd;
}

.head-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

main{
  background-image: url('./images/small-memory-medium.gif');
   min-height: 100vh; 
    background-repeat: no-repeat;  
   background-size: cover; 
   background-position: center;  


   
}