.App {
  text-align: center;
}

h3 {
  font-size: 60px;
  font-family: Monofett;
}
ul {
  display: flex;
  align-self: flex-end;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #fff620;
  color: #5973bd;
}

.head-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
